@{
    ViewBag.Title = "About";
}
<!--
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>-->

<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; padding: 0; background-color: #f8f8f8; color: #333;">
    <div style="height: 36px"></div>

    <section style="max-width: 800px; margin: 20px auto; padding: 30px; background-color: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); border-radius: 8px;">

        <h2 style="color: #3498db;">Chào Mừng Bạn!</h2>
        <p style="line-height: 1.8; color: #555;"><strong>Chúng tôi là ai?</strong></p>
        <p style="line-height: 1.8; color: #555;">Chúng tôi tự hào là một nền tảng giáo dục trực tuyến hàng đầu, cam kết mang đến cho bạn những trải nghiệm học tập chất lượng và thuận tiện.</p>

        <h2 style="color: #3498db;">Tại Sao Chọn Chúng Tôi?</h2>
        <ul style="list-style-type: none; padding: 0;">
            <li style="margin-bottom: 10px;"><strong>Đội Ngũ Giáo Viên Xuất Sắc:</strong> Chúng tôi tập trung vào việc tuyển chọn giáo viên có chuyên môn cao, có kinh nghiệm và đam mê trong lĩnh vực của mình.</li>
            <li style="margin-bottom: 10px;"><strong>Nền Tảng Học Trực Tuyến Hiện Đại:</strong> Giao diện thân thiện, linh hoạt và dễ sử dụng giúp bạn tiếp cận nội dung học một cách dễ dàng.</li>
            <li style="margin-bottom: 10px;"><strong>Đa Dạng Về Chủ Đề:</strong> Với hàng trăm khóa học chất lượng trong nhiều lĩnh vực khác nhau, chúng tôi đảm bảo rằng bạn sẽ tìm thấy khóa học phù hợp với mục tiêu của mình.</li>
        </ul>

        <h2 style="color: #3498db;">Dịch Vụ của Chúng Tôi:</h2>
        <ul style="list-style-type: none; padding: 0;">
            <li style="margin-bottom: 10px;"><strong>Khóa Học Chất Lượng Cao:</strong> Tất cả các khóa học của chúng tôi đều được thiết kế và giảng dạy bởi những chuyên gia hàng đầu trong ngành.</li>
            <li style="margin-bottom: 10px;"><strong>Hỗ Trợ Học Tập:</strong> Chúng tôi cam kết hỗ trợ bạn trên mọi bước đường học tập. Có sẵn các tài liệu học, bài kiểm tra và diễn đàn để bạn có thể tương tác với cộng đồng học viên.</li>
            <li style="margin-bottom: 10px;"><strong>Chứng Chỉ Hoàn Thành:</strong> Sau khi hoàn thành khóa học, bạn sẽ nhận được chứng chỉ chất lượng, giúp tăng cường hồ sơ và cơ hội nghề nghiệp của bạn.</li>
        </ul>

        <p style="line-height: 1.8; color: #555;"><strong>Bắt đầu học ngay hôm nay và mở cửa sổ cho sự phát triển tương lai của bạn!</strong></p>

        <button style="display: inline-block; background-color: #3498db; color: #fff; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius: 5px; transition: background-color 0.3s ease;" onclick="">Về trang chủ</button>
    </section>
</div>