
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<OnlineCourse.Models.ProductModel> cartProducts = (List<OnlineCourse.Models.ProductModel>)ViewBag.CartProducts;
}

<section class="pt-2">

    @{
        if (cartProducts.Count != 0)
        {
            Html.RenderPartial("~/Views/PartialView/_CartProductCard.cshtml");
        }
        else
        {
        <div class="container pt-5">
            <span class="section-title text-primary mb-3 mb-sm-4" style="font-size: 30px">Giỏ hàng (@cartProducts.Count())</span>
            <div class="row p-auto" style="text-align:center;font-size: 20px; height: 50vh">

                <div class="pt-5">Giỏ hàng trống. Hãy về trang chủ để tiếp tục tìm kiếm khóa học phù hợp</div>

                <div class="">
                    <a class="btn btn-info" href="@Url.Action("Index", "Home")">
                        Tiếp tục mua sắm
                    </a>
                </div>
                
            </div>
        </div>
            
        }
    }
</section>

<hr />