
@{
    ViewBag.Title = "CourseBought";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<OnlineCourse.Models.ProductModel> ListOwnProducts = (List<OnlineCourse.Models.ProductModel>)ViewBag.ListOwnProducts;
}

<div>
    
    @{
        if (ListOwnProducts.Count != 0)
        {
            Html.RenderPartial("~/Views/PartialView/_BoughtProductCard.cshtml");
        }
        else
        {
        <div class="container pt-5">
            <span class="section-title text-primary mb-3 mb-sm-4" style="font-size: 30px">Khóa học đã mua (@ListOwnProducts.Count())</span>
            <div class="row p-auto" style="text-align:center;font-size: 20px; height: 50vh">

                <div class="pt-5">Hãy về trang chủ để tiếp tục tìm kiếm khóa học phù hợp</div>

                <div class="">
                    <a class="btn btn-info" href="@Url.Action("Index", "Home")">
                        Tiếp tục mua sắm
                    </a>
                </div>

            </div>
        </div>
        }
    }
</div>

<hr />

